.loader::before,
.loader::after,
.loader {
  @include border-radius(50%);
  width: 2.5em;
  height: 2.5em;
  @include animation-fill-mode(both);
  @include animation(load 1.5s infinite ease-in-out);
}

.loader {
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  @include transform(translateZ(0));
  @include animation-delay(-0.16s);
}

.loader::before {
  left: -3.5em;
  @include animation-delay(-0.32s);
}

.loader::after {
  left: 3.5em;
}

.loader::before,
.loader::after {
  content: '';
  position: absolute;
  top: 0;
}

@include keyframes(load) {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #fff;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #fff;
  }
}
