.night-splash {
	background-color: #5B4ACF !important;
}

.sunny-splash {
	background-color: #FB5650 !important;
}

.rain-splash {
	background-color: #3081FF !important;
}

.default-splash {
	background-color: #0087C4 !important;
}