$gradientMaps: (
	night: (
		top: #1E0334,
		bottom: #312C69
	),
	sunny: (
		top: #FF5750,
		bottom: #FDCE63
	),
	rain: (
		top: #0595FF,
		bottom: #59D8FF
	),
	default: (
		top: #45B8D4,
		bottom: #ECE8C8
	)
);

$splashMaps: (
	night: #5B4ACF,
	sunny: #FB5650,
	rain: #2BC2FF,
	default: #0087C4
);