$row-width: 960px;
$em-base: 18px;
$topColor: #650178;
$bottomColor: #F65656;
$white: #fff;
$neutralGray: #555;

$avenirRegular: "avenir--regular", "Helvetica Neue", sans-serif;
$avenirMedium: "avenir--medium", "Helvetica Neue", sans-serif;
$avenirBold: "avenir--bold", "Helvetica Neue", sans-serif;