<!DOCTYPE html>
<html lang="en-US" ng-app="ahora" ng-controller="MainController" ng-cloak> 
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="author" content="Matthew Kosloski">
        <meta name="keywords" content="weather, temperature, forecast, world, climate, chance of rain, wind">
        <meta name="description" content="Ahora is a web app that shows your current location's temperature, wind speed, chance of rain, and 5-day forecast.  Additionally, it allows you to retrieve weather data from any location on earth instantly!">

        <meta property="og:title" content="Ahora &bullet; An accurate, informative weather app">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Ahora">
        <meta property="og:url" content="/">
        <meta property="og:description" content="Ahora is a web app that shows your current location's temperature, wind speed, chance of rain, and 5-day forecast.  Additionally, it allows you to retrieve weather data from any location on earth instantly!">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="/">
        <meta name="twitter:title" content="Ahora &bullet; An accurate, informative weather app">
        <meta name="twitter:description" content="Ahora is a web app that shows your current location's temperature, wind speed, chance of rain, and 5-day forecast.  Additionally, it allows you to retrieve weather data from any location on earth instantly!">


        <!-- Go to realfavicongenerator.net to generate favicons -->

        <title>Ahora &bullet; An accurate, informative weather app</title> 
        <link rel="dns-prefetch" href="//fonts.googleapis.com">
        <link rel="dns-prefetch" href="//code.jquery.com">
        <link rel="dns-prefetch" href="//d1l6p2sc9645hc.cloudfront.net">
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="./css/style.min.css">
        <!-- change to "style.min.css" when running "gulp build" -->  
    </head>
    <body ng-class="setColors('gradient')">
        <div class="outer">
             <div class="inner">
                <div class="content">
                    <div ng-show="status || !dataLoaded">{{status}}</div>
                    <div class="loader" ng-hide="dataLoaded || err"></div>
                    <div ng-show="dataLoaded">
                        <ul class="units cf animated fadeIn">
                            <li ng-class="{'active':showTwentyFour}" class="hide-on-sm">
                                <label for="twentyFour">24 Clock</label>
                                <input type="checkbox" id="twentyFour" ng-model="showTwentyFour" ng-click="setLocalStorage('ahoraTimeUnit',showTwentyFour)">
                            </li>
                            <li ng-class="{'active':unit=='celcius'}">
                                <label for="celcius">&deg;C</label>
                                <input type="radio" id="celcius" name="unit" ng-model="unit" value="celcius" ng-change="unit='celcius'" ng-click="setLocalStorage('ahoraUserUnit','celcius')">
                            </li>
                            <li ng-class="{'active':unit=='fahrenheit'}">
                                <label for="fahrenheit">&deg;F</label>
                                <input type="radio" id="fahrenheit" name="unit" ng-model="unit" value="fahrenheit" ng-change="unit='fahrenheit'" ng-click="setLocalStorage('ahoraUserUnit','fahrenheit')">
                            </li>
                        </ul>
                        <div class="search">
                            <form ng-submit="query(city)" ahora-show-data-on-submit>
                                    <input class="search__input" type="text" ng-model="city" autocomplete="off">
                            </form>
                            <div id="search__cancel" ahora-show-data-on-click>cancel</div>
                        </div>
                        <div class="widget animated fadeInDown">
                            <section class="main" ng-class="setColors('splash')" ahora-stats>
                                <div class="main__search main__search--delay animated fadeIn">
                                    <svg ahora-search-event id="icon" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><title>Search</title><path d="M10.887 9.473C11.585 8.493 12 7.295 12 6c0-3.314-2.687-6-6-6-3.314 0-6 2.686-6 6 0 3.313 2.686 6 6 6 1.295 0 2.492-.415 3.473-1.113l4.82 4.82c.39.39 1.023.39 1.414 0 .39-.39.39-1.023 0-1.414l-4.82-4.82zM9.435 8.02c-.346.585-.83 1.07-1.415 1.415C7.425 9.785 6.74 10 6 10c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4c0 .74-.215 1.425-.565 2.02z" fill="#fff" fill-rule="evenodd"/></svg>
                                </div>
                                <div class="main__content">
                                    <h1 class="main__location main__location--delay animated fadeIn">{{city}} at {{theTime | clock:showTwentyFour}}</h1>
                                    <div class="main__icon main__icon--delay animated fadeIn" ng-include="getInclude()"></div>
                                    <div class="main__temperature main__temperature--delay animated fadeIn">{{temperature | temperature:unit}}&deg;</div>
                                </div>
                                <div class="main__stats cf">
                                    <ul class="stat">
                                        <li><span class="climacon thermometer" ng-class="setThermometer()"></span></li>
                                        <li>{{temperature | temperature:unit}}&deg;</li>
                                    </ul>
                                    <ul class="stat">
                                        <li><span class="climacon wind"></span></li>
                                        <li>{{wind | windSpeed:unit}}</li>
                                    </ul>
                                    <ul class="stat">
                                        <li><span class="climacon umbrella"></li>
                                        <li>{{rain}}&#37;</li>
                                    </ul>
                                </div>
                            </section>
                            <section class="forecast cf" ng-class="{'forecast--sunny':setColors('gradient') == 'sunny-gradient'}">
                                <div class="forecast__inner">
                                    <div class="forecast__day cf animated fadeIn" ng-repeat="day in forecast">
                                        <ul>
                                            <li class="forecast__day__name">{{day.name}}</li>
                                            <li class="forecast__day__icon">
                                                <span class="climacon {{day.icon}}"></span>
                                            </li>
                                            <li class="forecast__day__temperatures">
                                                <span class="day high">{{day.high | temperature:unit}}&deg;</span> <span class="day low">{{day.low | temperature:unit}}&deg;</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="./js/script.min.js"></script>
    <!-- change to "script.min.js" when running "gulp build" -->      
    </body>
</html>   