/* uncss:ignore */
.main__icon .clear-day {
	@include animation(clearDay 18s linear infinite both);
}
/* uncss:ignore */
.main__icon .clear-day .rays path {
	@include transform-origin(center);
}
/* uncss:ignore */
.main__icon .clear-day .rays path:nth-child(even) {
	@include animation(scale 3s ease-in-out infinite backwards);
}
/* uncss:ignore */
.main__icon .clear-day .rays path:nth-child(odd) {
	@include animation(scale 3s ease-in-out infinite backwards);
}
/* uncss:ignore */
.main__icon .clear-day .rays path:nth-child(odd) {
	@include animation-delay(4.5s);
}
/* uncss:ignore */
.main__icon .clear-night {
	@include animation(slightRotate 8s linear infinite both);
}
/* uncss:ignore */
.main__icon .cloudy {
	@include animation(cloudy 10s linear infinite both);
}
/* uncss:ignore */
.main__icon .fog path:nth-child(even) {
	@include animation(fog 8s ease-in-out infinite backwards);
}
/* uncss:ignore */
.main__icon .fog path:nth-child(odd) {
	@include animation(fog 8s ease-in-out infinite backwards);
	@include animation-delay(4s);
}
/* uncss:ignore */
.main__icon .partly-cloudy-day .rays path {
	@include transform-origin(center);
}
/* uncss:ignore */
.main__icon .partly-cloudy-day .rays path:nth-child(even) {
	@include animation(scale 3s ease-in-out infinite backwards);
}
/* uncss:ignore */
.main__icon .partly-cloudy-day .rays path:nth-child(odd) {
	@include animation(scale 6s ease-in-out infinite backwards);
}
/* uncss:ignore */
.main__icon .rain .drops path:nth-child(1) {
	@include animation(raini 1.5s ease-in-out infinite);
	@include animation-delay(2.5s);
	opacity: 0;
}
/* uncss:ignore */
.main__icon .rain .drops path:nth-child(2) {
	@include animation(rainii 1.5s ease-in-out infinite);
	opacity: 0;
}
/* uncss:ignore */
.main__icon .rain .drops path:nth-child(3) {
	@include animation(raini 1.5s ease-in-out infinite);
	@include animation-delay(3.5s); 
	opacity: 0;
}
/* uncss:ignore */
.main__icon .wind path:first-child {
	@include animation(windi 5s ease-in-out infinite);
}
/* uncss:ignore */
.main__icon .wind path:last-child {
	@include animation(windii 5s ease-in-out infinite);
}
/* uncss:ignore */
.main__icon .tornado path:nth-child(1) {
	@include animation(tornadoi 10s ease-in-out infinite);
}
/* uncss:ignore */
.main__icon .tornado path:nth-child(2) {
	@include animation(tornadoii 10s ease-in-out infinite);
}
/* uncss:ignore */
.main__icon .tornado path:nth-child(3) {
	@include animation(tornadoiii 10s ease-in-out infinite);
}
/* uncss:ignore */
.main__icon .tornado path:nth-child(4) {
	@include animation(tornadoiv 10s ease-in-out infinite);
}
/* uncss:ignore */
.main__icon .tornado path:nth-child(5) {
	@include animation(tornadov 10s ease-in-out infinite);
}
/* uncss:ignore */
.main__icon .thunderstorm path:nth-child(2) {
	@include animation(thunderstorm 10s linear infinite);
}
/* uncss:ignore */
.main__icon .snow .snowflake {
	@include animation(raini 4s ease-in-out infinite);
}