.units {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: rem(14);
	border: 1px solid rgba(255,255,255,0.5);
	@include border-radius(2px);
	input {
		display: none;
	}
	label {
		cursor: pointer;
    	padding: rem(10) rem(17);
	}
	li {
		padding: rem(8) 0 rem(5);
		@include breakpoint(md) { 
			width: 50%;
		}
		width: 33.3333%;
		float: left;
		&:first-child {
			border-right: 1px solid rgba(255,255,255,0.5);
		}
		&:last-child {
			border-left: 1px solid rgba(255,255,255,0.5);
			@include breakpoint(md) { 
				display: none;
			}
		}
	}
	@include breakpoint(md) { 
		top: 10px;
		left: 10px;
		z-index: 999;
		width: 100px;
	}
}

.active {
	background-color: rgba(255,255,255,0.25);
}